@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-d{
    display: flex;
    flex-direction: column;
}

@mixin mini{
    width: 100%;
    @include flex;
}